@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=JetBrains+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

:root{
  --font-heading: 'Arvo', serif;
  --font-body: 'JetBrains Mono', monospace;

  --wght-regular: 400;
  --wght-medium: 500;
  --wght-bold: 700;

  --ricola-green: #005747;
  --ricola-red: #E90000;
  --ricola-orange: #FFCE00;
  --ricola-yellow: #EAED3D;
  --ricola-purple: #930088;
  
  --white: #ffffff;
  --black: #000000;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  /* 1rem = 10px */
  font-size: 62.5%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-body);
  font-size: 1.6rem;
  font-weight: var(--wght-regular);
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--font-heading);
  margin-bottom: 1.4rem;
  text-rendering: optimizeLegibility;
}
h1{
  font-size: 4rem;
}

a:active,
a:hover {
  outline-width: 0;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}