@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap');
@font-face {
  font-family: 'Frutiger';
  src: local('Frutiger'), url(../fonts/Frutiger.ttf) format('truetype');
}


*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

:root{
  --font-subheading: 'El Messiri', serif;
  --font-heading: 'Montserrat', serif;
  --font-body: 'Frutiger', monospace;

  --wght-regular: 300;
  --wght-medium: 500;
  --wght-bold: 700;
  --wght-extra-bold: 900;


  --ricola-green: #005747;
  --ricola-red: #E90000;
  --ricola-orange: #FFCE00;
  --ricola-yellow: #EAED3D;
  --ricola-purple: #930088;
  
  --white: #ffffff;
  --black: #000000;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  /* 1rem = 10px */
  font-size: 62.5%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-body);
  font-size: 1.6rem;
  font-weight: var(--wght-regular);
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--font-heading);
  margin-bottom: 1.4rem;
  text-rendering: optimizeLegibility;
}

h1{
  font-size: 4.5rem;
  font-weight: var(--wght-extra-bold);
}

h2{
  font-size: 3.5rem;
  font-weight: var(--wght-bold);
}

a:active,
a:hover {
  outline-width: 0;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}