header {
  background-color: var(--white);
}

.subheading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  color: var(--white);

  font-size: 6rem;
}
.nature {
  background-color: var(--ricola-green);
}
.people {
  background-color: var(--ricola-orange);
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
