.wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4rem;
    margin: 5rem;
}

.staticIntroTitle {
    margin: 4rem;
}

p {
    line-height: 140%;
    margin-top: 2rem;
}